.container{
  display: flex;
  margin-top: 0;
}
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  margin-top: 0;
  
}

.link{
  text-decoration: none;
  color: inherit;
}
.main-app {
  background: #EEF0F7;
}
.App-link {
  color: #61dafb;
}

body {
  background-color: aliceblue; /* replace with the color of your choice */
  
}
